<div id="shelf_screen" class="shelf_screen" style="display:none;">
	<div class="closer">
		<span aria-hidden="true" data-icon="&#xe004;"></span>
	</div>
	<div class="former">
		<div class="user_form create_a_shelf_form" style="display:block;">
			<input type="text" id="create_a_new_shelf_input" placeholder="<%= t(:create_a_new_shelf) %>">
		</div>
	</div>
	<div class="clearfix"></div>
	<div id="shelves_listing">
		
	</div>
</div>