<%= render :partial => 'flashes' %>

<div id="main">
	
	<%= render :partial => "main_header" %>

  <div class="filterbar inner_pages">
		
		<div style="float:right;margin-top:5px;">VERSION: V1 (ALPHA)</div>
		<h1>About Dotshelf</h1>
		
		
		
		<div>
			<p class="about_texter">
        An open-source project that find awesome domains. Dotshelf lets you enter words and it will try every combination and tell you which are available by your criterias.
        <br><br>
        Originally created by <a href="http://emiralp.com" target="_blank">Emir Alp</a> &amp; <a href="http://umitkit.com" target="_blank">Umit Kitapcigil</a> under <a href="http://workaxe.com" target="_blank">workaxe</a>.
        <br><br>
        You can fork original <a href="https://github.com/workaxe/dotshelf" target="_blank">source here</a>.
      </p>
      
		</div>
    
    
    <div style="margin-top:30px;">
    
      <h1>How it works?</h1>
    
      <ol style="margin-top:30px;">
        <li>
          
          <h4>Focus on keywords!</h4><br>

          <h6>Write some words to Keywords input on main page:</h6><br>
          <img src="/about_images/about_1.png" style="border:3px solid #67C5AE;width:70%;">
          <br><br><br>
        </li>
        <li>  
          <h4>Pick related keywords!</h4><br>
          <h6>Click any keyword:</h6><br>
          <img src="/about_images/about_click_tip.png" style="border:3px solid #67C5AE;width:70%;"><br><br>
          <h6>And select new keywords from list:</h6><br>
          <img src="/about_images/about_click_tip_detail.png" style="border:3px solid #67C5AE;width:60%;"><br><br><br>
        
        </li>
        
        <li>  
          <h4>Define domain categories!</h4><br>
          <h6>Select some categories related to your domain:</h6><br>
          
      
          <img src="/about_images/about_2.png" style="border:3px solid #67C5AE;width:70%;"><br><br><br>
        
        </li>
        
        <li>  
          <h4>Ready!</h4><br>
          <h6>Start exploring available domains:</h6><br>
          
      
          <img src="/about_images/about_3.jpg" style="border:3px solid #67C5AE;width:70%;"><br><br><br>
          
        </li>
      </ol>
      
      
    </div>
		
  </div>

	
</div>

<%= render :partial => 'footer' %>